acinclude.m4
aclocal.m4
bin/*
config.*
configure
configure.ac
COPYRIGHT
depcomp
Doc/*
external/*
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.*
makeinc
missing
README
Main/*.o
Main/*.mod
Main/Makefile.*
Main/Makefile
PreProc/Makefile
PreProc/Makefile.*
PostProc/Makefile
PostProc/Makefile.*
PostProc/*.o
PostProc/*.mod
